#encabezado{
    width: 100%;
    background-color: chocolate;
    overflow: hidden;
    border-color: coral;
    border-style: solid;
}
.encabezado{
    width: 100%;
    background-color: chocolate;
    overflow: hidden;
    border-color: coral;
    border-style: solid;
}
/*imagenes de mi imagenen del encabezado*/
.imagen{
    border-radius: 10px;
    border-color: cyan;
    border-style: solid;
    height: 500%;
    width: 500%;
    border-radius: 5%;
}
/*titulo de mi encabezado*/
.letra{
    text-align: center;
}
/*color de mi pagina*/
.colorpagina{
    background-color: coral;
}

/*se borra*/
.menu{
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

/*clase para centrar*/
.centrarCar{
    margin: auto;
    
}
/*se borra*/
.imag{
    height: 250px;
    width: 550px;
    border-radius: 10px;
    border-color: cyan;
    border-style: solid;
}

/*identificador para cambiar el fondo del boton*/
#BotonF1{
    background: #d2b48c;
}
/*identificador para cambiar el fondo del boton*/
#BotonF2{
    background: #d2b48c;
}
/*identificador para cambiar el fondo del boton*/
#BotonF3{
    background: #d2b48c;
}

/*clase para mis imagenenes*/
.image{
    height: 120px;
    width:  120px;
    border-radius: 10%;
    border-color: cyan;
    border-style: solid;
}
/*para dar color a las tarjetas dentro de mis botones*/
#colorcad{
    background-color: darkkhaki;
}
#colorcad2{
    background-color: darkseagreen;
}
#colorcad3{
    background-color: limegreen;
}
#colorcad4{
    background-color: indianred;
}
#colorcad5{
    background-color: mediumpurple;
}

/*clase para centrar*/
.centrado{
    text-align: center;
}

#colorm1{
    background-color: rgb(0, 195, 255);
    font-family: Arial, Helvetica, sans-serif;
    font: 14;
    border-left-color: brown;
}
#colorm2{
    background-color: rgb(255, 115, 0);
    font-family: Arial, Helvetica, sans-serif;
}

/*clase para pie de pagina*/
#piepag{
    width: 100%;
    background-color: chocolate;
    overflow: hidden;
    border-color: coral;
    border-style: solid;
}
/*clase para pie de pagina*/
#piepag2{
    width: 100%;
    background-color: rgb(109, 49, 7);
    border-color: coral;
    overflow: hidden;
    border-style: solid;
}
/*clase entrar mis imagenes de pie de pag.*/
.icon2{
    height: 50px;
    width: 45px;
    border-color: green;
    border-style: solid;
}
/*clase entrar mis imagenes de pie de pag.*/
.icon{
    border-color: green;
    border-style: solid;
    height: 30px;
    width: 30px;
    border-radius: 5%;
}
.letra2{
    font-family: Arial, Helvetica, sans-serif;
    color: darkblue;
}
.card2{
    background: darkturquoise;
    border: darkviolet;
}
.letra3{
    color: darkmagenta;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 50px;
}

/*imagenes de la pagina producto*/
.imagen2{
    border-radius: 10px;
    border-color: dodgerblue;
    border-style: solid;
    height: 50%;
    width: 50%;
    border-radius: 5%;
}
.imagen3{
    border-radius: 10px;
    border-color: dodgerblue;
    border-style: solid;
    height: 40%;
    width: 80%;
    border-radius: 5%;
}
.imagen4{
    border-radius: 10px;
    border-color: dodgerblue;
    border-style: solid;
    height: 90%;
    width: 40%;
    border-radius: 5%;
}
.imagen5{
    border-radius: 10px;
    border-color: dodgerblue;
    border-style: solid;
    height: 60%;
    width: 60%;
    border-radius: 5%;
}
.imagen6{
    border-radius: 10px;
    border-color: dodgerblue;
    border-style: solid;
    height: 40%;
    width: 40%;
    border-radius: 5%;
}
/*clase para mis imagenenes*/
.imagen12{
    height: 150px;
    width:  150px;
    border-radius: 10%;
    border-color: cyan;
    border-style: solid;
}